-r requirements.txt

# Development tools
ipython==8.18.1
jupyter==1.0.0
notebook==7.0.6

# Code quality
autopep8==2.0.4
pylint==3.0.2
isort==5.12.0

# Testing
pytest-xdist==3.5.0
pytest-mock==3.12.0
faker==20.1.0

# Documentation
mkdocs==1.5.3
mkdocs-material==9.4.14
